[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coveralls = "*"
unittest-xml-reporting = "*"
flake8 = "*"
flake8-isort = "*"
flake8-quotes = "*"

[packages]
mysqlclient = "*"
sentry-sdk = "*"
uwsgi = "*"
django = "*"
django-labs-accounts = "*"
django-rest-framework = "*"
django-filter = "*"
gunicorn = "*"
dj-database-url = "*"
coverage = "*"

[requires]
python_version = "3.7"
