[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
black = "==19.10b0"
unittest-xml-reporting = "*"
flake8 = "*"
flake8-isort = "*"
flake8-quotes = "*"
django-extensions = "*"
rope = "*"
pytest = "*"

[packages]
dj-database-url = "*"
djangorestframework = "*"
mysqlclient = "*"
sentry-sdk = "*"
django = "*"
django-cors-headers = "*"
pyyaml = "*"
uritemplate = "*"
uwsgi = "*"
django-filter = "*"
django-labs-accounts = "*"
django-debug-toolbar = "*"
django-runtime-options = "*"

[requires]
python_version = "3.7"
