[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
black = "==19.10b0"
unittest-xml-reporting = "*"
flake8 = "*"
flake8-isort = "*"
flake8-quotes = "*"
django-extensions = "*"
flake8-absolute-import = "*"
rope = "*"
pytest = "*"
tblib = "*"

[packages]
beautifulsoup4 = "*"
dj-database-url = "*"
djangorestframework = "*"
pandas = "*"
html5lib = "*"
psycopg2 = "*"
sentry-sdk = "*"
django = "*"
django-cors-headers = "*"
pyyaml = "*"
uritemplate = "*"
uwsgi = "*"
django-filter = "*"
django-labs-accounts = "*"
django-debug-toolbar = "*"
django-runtime-options = "*"
django-storages = "*"
pillow = "*"
boto3 = "*"
apns2 = "*"
numpy = "*"
click = "==8.0.4"
celery = "*"
django-redis = "*"
redis = "*"
"backports.zoneinfo" = "*"

[requires]
python_version = "3.9.14"
