[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "24.4.0"
unittest-xml-reporting = "*"
flake8 = "==6.1.0"
flake8-isort = "==6.1.0"
flake8-quotes = "==3.3.2"
django-extensions = "*"
flake8-absolute-import = "*"
rope = "*"
pytest = "*"
tblib = "*"
coverage = "*"

[packages]
beautifulsoup4 = "*"
dj-database-url = "*"
djangorestframework = "*"
pandas = "*"
html5lib = "*"
psycopg2 = "*"
sentry-sdk = "*"
django = "==5.0.2"
django-cors-headers = "*"
pyyaml = "*"
uritemplate = "*"
uwsgi = "*"
django-filter = "*"
django-labs-accounts = "*"
django-debug-toolbar = "*"
django-runtime-options = "*"
django-storages = "*"
django-phonenumber-field = {extras = ["phonenumberslite"],version = "*"}
pillow = "*"
boto3 = "*"
apns2 = "*"
numpy = "*"
celery = "==5.4.0"
django-redis = "*"
redis = "*"
python-dateutil = "*"
selenium = "*"
webdriver-manager = "*"
pre-commit = "*"
alt-profanity-check = "*"
inflection = "*"

[requires]
python_version = "3.11"
