deploy_version: 0.1.20
image_tag: latest

applications:
  - name: redis
    image: redis
    tag: "4.0"
    port: 6379
  - name: celery
    image: pennlabs/penn-mobile-backend
    secret: penn-mobile
    cmd:
      ["celery", "-A", "pennmobile", "worker", "-linfo"]
    extraEnv:
      - name: DJANGO_SETTINGS_MODULE
        value: pennmobile.settings.production
  - name: django
    image: pennlabs/penn-mobile-backend
    secret: penn-mobile
    replicas: 8
    ingress:
      hosts:
        - host: studentlife.pennlabs.org
          paths: ["/"]
        - host: portal.pennmobile.org
          paths: ["/api", "/assets"]
        - host: pennmobile.org
          paths: ["/api", "/assets"]
    extraEnv:
      - name: DOMAINS
        value: studentlife.pennlabs.org,pennmobile.org,portal.pennmobile.org
      - name: DJANGO_SETTINGS_MODULE
        value: pennmobile.settings.production
  - name: react
    image: pennlabs/penn-mobile-frontend
    ingress:
      hosts:
        - host: portal.pennmobile.org
          paths: ["/"]
    extraEnv:
      - name: PORT
        value: 80
      - name: DOMAIN
        value: portal.pennmobile.org

cronjobs:
  - name: get-laundry-snapshots
    schedule: "*/15 * * * *"
    image: pennlabs/penn-mobile-backend
    secret: penn-mobile
    cmd: ["python", "manage.py", "get_snapshot"]
    extraEnv:
      - name: DJANGO_SETTINGS_MODULE
        value: pennmobile.settings.production
  - name: send-gsr-reminders
    schedule: "20,50 * * * *"
    image: pennlabs/penn-mobile-backend
    secret: penn-mobile
    cmd: ["python", "manage.py", "send_gsr_reminders"]
    extraEnv:
      - name: DJANGO_SETTINGS_MODULE
        value: pennmobile.settings.production
