deploy_version: 0.1.20
image_tag: latest

applications:
  - name: django
    image: pennlabs/penn-mobile-backend
    secret: penn-mobile
    ingress:
      hosts:
        - host: studentlife.pennlabs.org
          paths: ["/"]
        - host: portal.pennmobile.org
          paths: ["/api", "/assets"]
        - host: pennmobile.org
          paths: ["/api", "/assets"]
    extraEnv:
      - name: DOMAINS
        value: studentlife.pennlabs.org,pennmobile.org,portal.pennmobile.org
      - name: DJANGO_SETTINGS_MODULE
        value: pennmobile.settings.production

cronjobs:
  - name: get-laundry-snapshots
    schedule: "*/15 * * * *"
    image: pennlabs/penn-mobile-backend
    secret: penn-mobile
    cmd: ["python", "manage.py", "get_snapshot"]
    extraEnv:
      - name: DJANGO_SETTINGS_MODULE
        value: pennmobile.settings.production
