@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #4a4a4a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
